<h1><%= current_user.first_name %></h1>

<div>
  <% @events.each do |event| %>
    <%= tag.a(href: event.link) do%>
      <p>
        <%= event.description %> &nbsp;
        <%= event.created_at %>
      </p>
    <% end %>
  <% end %>
  <%= link_to "Edit user registration path", edit_user_registration_path %><br>
  <!-- turn on/off notifications -->
  <!-- turn on/off activity send -->
  <!-- update data -->
  <!-- activity feed will be placed on a separate tab -->
</div>
<%= link_to "go back", root_path %>
