<h1><%= current_user.first_name %></h1>

<div>
  <% @events.each do |event| %>
    <%= tag.a(href: event.link) do%>
      <p>
        <%= "#{current_user.first_name.capitalize} #{current_user.last_name.capitalize}" %>
        <%= event.description %> &nbsp;
        <%= event.created_at %>
      </p>
    <% end %>
  <% end %>

</div>
<%= link_to "go back", root_path %>
