<div class="container-layout">
  <div class="navbar-menu">
    <%= render 'shared/navbar_menu' %>
  </div>
  <div class="container-main">
    <div>
      <h1>
        <%= "#{@user.first_name} #{@user.last_name}"%>
        <span class="button-link button-edit">
          <%= link_to edit_user_registration_path(@user) do %>
            <i class="fas fa-edit"></i>
          <% end %>
        </span>
      </h1>
    </div>
    <div data-controller="navbar">
      <div>
        <ul class="navbar-show">
          <li data-navbar-target="ticketsToggle"
          data-action="click->navbar#setDisplay"
          class="navbar-selected-item">
            Tickets
          </li>
          <li data-navbar-target="historyToggle"
          data-action="click->navbar#setDisplay"
          class="navbar-show-item">
            History
          </li>
        </ul>
      </div>
      <div data-navbar-target="history" style="display: none;">
        <% unless @events.empty? %>
          <ul>
            <% @events.each do |event| %>
              <li>
                <div class="container-event">
                  <div class="container-event-date">
                    <%= event.created_at.in_time_zone('America/Mexico_City').strftime("%m/%d/%Y at %I:%M%p") %>
                  </div>
                  <div class="container-event-description">
                    <%= tag.a(href: event.link) do%>
                      <span class="link-to">
                        <%= event.description %>
                      </span>
                    <% end %>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p>You have no activity yet.</p>
        <% end %>
      </div>
        <div data-navbar-target="tickets" style="display: block;">
        <ul>
          <% @user_tickets.each do |ticket|%>
            <li class="container-clickable">
              <%= link_to ticket_path(ticket) do %>
                <h3 class="text-caps">
                  <%= ticket.title %>
                </h3>
                <p>
                  <%= ticket.description %>
                </p>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
