<ul>
  <% @tickets.each do |ticket|%>
    <li class="container-clickable">
      <%= link_to ticket_path(ticket) do %>
        <h3 class="text-caps">
          <%= ticket.title %>
          (<%= ticket.status %>)
        </h3>
        <p>
          <%= ticket.description   %>
        </p>
        <% if ticket.status == 'open' %>
          <% if ticket.ticket_age_in_hours == 0 %>
            <p>Opened less than an hour ago</p>
          <% elsif ticket.ticket_age_in_hours == 1 %>
            <p>Opened an hour ago</p>
          <% elsif ticket.ticket_age_in_hours <= 72 %>
            <p>Opened <%= ticket.ticket_age_in_hours %> hours ago</p>
          <% else %>
            <p>Opened <%= ticket.ticket_age_in_days %> days ago</p>
          <% end %>
        <% else %>
            <p><%= ticket.ticket_closing_date %></p>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
