<div class="container">
  <div>
    <p>This is the demo!!</p>
    <%= render 'pages/shared/welcome' %>
    <%= render 'pages/shared/dashboard' %>
    <%= render 'pages/shared/navbar' %>
    <%= render 'pages/shared/projects' %>
    <%= render 'pages/shared/ticket' %>
    <%= render 'pages/shared/memo' %>
    <%= render 'pages/shared/user' %>
    <%= render 'pages/shared/history' %>
    <%= render 'pages/shared/action' %>
  </div>
  <div>
    <%= link_to "Sign in", new_user_session_path %>
  </div>
</div>
