<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div>
  <%= link_to "new ticket", tickets_new_path %>
  <br><br><br>
  <!-- option available only to supervisors -->
  <%= link_to "ticket list", tickets_path %>
  <br><br><br>
  <%= link_to "Add a project", projects_new_path %>
  <br><br><br>
  <%= link_to "project list", projects_index_path  %>
  <br><br><br>

  <!-- <%= link_to "create new users", new_user_session_path %> -->



</div>
