<h1>Tickets#new</h1>
<%= simple_form_for @ticket do |f|%>
  <%= f.input :description %>
  <%= f.input :priority %>
  <%= f.input :category %>
  <%= f.input :status %>
  <%= f.button :submit  %>
<% end %>
