<h1>New ticket</h1>
  <%= simple_form_for @ticket do |f|%>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :priority , collection: [['Urgent', 'urgent'], ['Time sensitive', 'time_sensitive'], ['Necessary', 'necessary']] %>
  <%= f.input :project_id, collection: @projects%>
  <%= f.input :category %>
  <%= f.input :status %>
  <%= f.button :submit, class: "btn btn-success button-custom" %>
<% end %>
