<div class="container-layout">
  <div class="navbar-menu">
    <%= render 'shared/navbar_menu' %>
  </div>
  <div class="container-main">
    <h1>Tickets#new</h1>
      <%= simple_form_for @ticket do |f|%>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :priority , collection: ['urgent', 'time_sensitive', 'necessary'] %>
      <%= f.input :project_id, collection: @projects%>
      <%= f.input :category %>
      <%= f.input :status %>
      <%= f.button :submit  %>
    <% end %>
  </div>
</div>
