<h1><%= @ticket.title %></h1>
<h3>Descripcion</h3>
<p><%= @ticket.description %></p>
<!-- controls for pausing and starting methods -->
<p>Hour tracker: <%= @ticket.completion_time %></p>
<!--  -->
<br><br><br>
<%= link_to "add a new memo", new_ticket_memo_path(params[:id]) %>
<br><br><br>
<%= link_to "back to tickets list", tickets_path %>
<br><br><br>
CURRENT USER <%= current_user.id %>
<br><br><br>
<div>
  <% @memos.each do |memo| %>
    <div>
      <%= memo.content %>
      <br>
      <%= link_to 'edit', edit_ticket_memo_path(memo.id) %>
    </div>
  <% end %>

</div>
