<div class="container-layout">
  <div class="navbar-menu">
    <%= render 'shared/navbar_menu' %>
  </div>
  <div class="container-main">
    <h1><%= @ticket.title %>
      <span class="button-link button-edit">
        <%= link_to edit_ticket_path(@ticket) do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </span>
    </h1>
    <div class="container-section container-ticket-data">
      <div class="container-ticket-description">
        <div>
          <h3>Statistics</h3>
          <p><%= @ticket.description %></p>
          <p>Hour tracker: <%= @ticket.completion_time %></p>
          <!-- <p>case owner</p> -->
        </div>
    </div>
    <div style="display: inline-block;"
         class="container-ticket-hours" >
      <div class="custom-container-hour-control">
        <% if @ticket.active %>
          <h3>Active</h3>
        <% else %>
          <h3>Not active</h3>
        <% end %>
        <%= link_to update_hours_ticket_path(@ticket), method: :patch, remote: true do %>
          <div class="button-link button-hours">
            <% if @ticket.active %>
              <i class="fas fa-pause"></i>
            <% else %>
              <i class="fas fa-play"></i>
            <% end %>
          <% end %>
          </div>
      </div>
    </div>
  </div>
  <h2>Memo list</h2>
  <div class=" container-section container-ticket-memos">
    <div class="container-memo-list">
      <% @memos.each do |memo| %>
        <div class="container-memo-show">
           <%= memo.content %>
           <span class="button-link button-edit">
            <%= link_to edit_ticket_memo_path(ticket_id: @ticket.id, id: memo.id) do %>
              <i class="fas fa-edit"></i>
            <% end %>
           </span>
          <br>
        </div>
       <% end %>
    </div>
    <!-- <div class="container-memo-new">
      <%= link_to "add a new memo", new_ticket_memo_path(params[:id]) %>
    </div> -->
    <%= link_to "add a new memo", new_ticket_memo_path(params[:id]) %>
  </div>
  <!-- <%= link_to "back to tickets list", tickets_path %> -->
</div>
