<h1><%= @ticket.title %></h1>
<p><%= @ticket.description %></p>
<br><br><br>
<%= link_to "add a new memo", new_ticket_memo_path(params[:id]) %>
<br><br><br>
<%= link_to "project list", tickets_path %>
<br><br><br>
CURRENT USER <%= current_user.id %>
<br><br><br>
<div style="border: 3px solid green;">
  <% @memos.each do |memo| %>
    <div style="border: 3px solid red;">
      <%= memo.content   %>
    </div>
  <% end %>
</div>
