<div class="container-layout">
  <div class="navbar-menu">
    <%= render 'shared/navbar_menu' %>
  </div>
  <div class="container-main">
    <h1>Projects#new</h1>
    <%= simple_form_for @project do |f| %>
      <%= f.input :name, hint: "If the project name has multiple words separate them with _" %>
      <%= f.input :description %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
