<!DOCTYPE html>
<html>
  <head>
    <title>VersatileBugtracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <body data-controller="darkmode" data-target="darkmode.page">
    <%= render 'shared/navbar_user' %>
    <div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= render 'shared/flashes' %>
      <div class="container-layout">
        <div class="navbar-menu">
          <%= render 'shared/navbar_menu' %>
        </div>
        <div class="container-main">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
