<!DOCTYPE html>
<html>
  <head>
    <title>Versatile Bugtracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <body data-controller="darkmode" data-target="darkmode.page">
    <!-- Working on responsiveness feature, the banner controller associated data will be removed in a few days -->
    <div data-controller="banner" data-action="load@window->banner#adjustSize resize@window->banner#adjustSize">
      <div data-banner-target="mobile" style="display: none;" class="container container-working-feature">
        <div>
          <h1>Currently no available on mobile devices.</h1>
          <p>However, you will be able to use our application in any device in a few days :)</p>
        </div>
      </div>
      <div data-banner-target="laptop" style="display: block;">
          <%= render 'shared/navbar_user' %>
          <!-- <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p> -->
          <%= render 'shared/flashes' %>
          <div class="container">
            <%= yield %>
          </div>
      </div>
    </div>
  </body>
</html>
